



@media screen and (max-width: 1200px) {

  .header {
    margin: auto;
    justify-items: center;
    display: flex;

  }

  .navbar {
    margin-right: 20px;
  }

  .slider_content {
    top: 100px;
    height: 80vh;

  }

  .mySlider {
    margin: auto;
    height: 80vh;
    margin: 50px;
    width: 100%;
  }

  .mySlider img {
    width: 100%;
  }

  .direcciones {
    left: 0;
    width: 100%;
    justify-content: space-between;

  }


  .content-grip-description-row {
    grid-template-columns: 200px 200px;
    z-index: 1;
  }




  .container-chatBot {
    height: 420px;
    bottom: 20px;
  }

  .swiper {
    margin-top: 550px;

  }
}

/*---------------------------------------*/





/*MEDIDA 800PX*/
@media screen and(max-width: 980px) {
  .header {
    display: none;
  }




}


@media screen and (max-width: 700px) {
  .grid-news {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
  }



  .item1 {

    grid-column: 1/3;
  }
}