* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

body {
    font-size: larger;
    white-space: nowrap;
}

main {
    display: inline-flex;
    position: fixed;
    height: 100vh;
    white-space: nowrap;
}

.btnDisplay {
    margin-top: 50vh;
}


.btnDisplay>a {
    cursor: pointer;
    width: 100%;
}


.modelo {
    white-space: nowrap;
    justify-content: left;
    height: 20px;
    padding: 0;
    text-align: center;
}

.modelo>li {
    font-size: 15px;
    color: black;
    text-decoration: none;
    justify-items: left;
}


.modelo>li>a {
    outline: none;
    font-weight: 500;
    justify-content: left;
    text-decoration: none;
}

.mainBar {
    white-space: nowrap;
    height: 100vh;


    overflow: hidden;
    color: black;
}

.listaProductos {
    list-style: none;
    user-select: none;
    color: black;
    width: 100%;
    margin-top: 25vh;
    white-space: nowrap;
}

.listaProductos li {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    white-space: nowrap;
}

.listaProductos div  {
    left: 0;
    width: 50%;
    height: 30px;
    padding: 20px;
    display: flex;
    font-weight: 700;
    white-space: nowrap;
    align-items: center;
    justify-items: left;
    position: relative;
    color: black
}

a:link {
    color: black
}

a:visited {
    color: black
}





.off {
    width: 0;
    margin: 0;
    padding: 0;
    animation-duration: 0.3s;
    animation-name: ani;
}

@keyframes ani {
    0% {
        width: 5vw;
    }

    100% {
        width: 0vw;
    }
}





/* MODELO DE TIENDA */


.gridContainer {
    width: 80vw;
    height: 100vh;
    display: inline-table;
    margin: auto;
    margin: 2vh 0px 0px 15vw;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw ;
    column-gap: 150px;
    row-gap: 150px;
}

.gridItem {
    border-radius: 10px;
    width: 20vw;
    height: 50vh;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}


.cardTitle {
    padding: 20px;
    margin: auto;
    top: 0;
    justify-content: left;
    text-align: center;
    width: 20vw;
}

.cardTitle h2 {
    margin-top: 50px;
}


img{
    width: 15vw;
}



.pasalera {
    width: 100%;
    height: 70vh;
}


.title > p{
    font-size: 15px;
}

.pasalera{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.columna1{
    width: 50%;
    height: 70vh;
}

.columna2{
    background: rgb(240, 240, 240);
     width: 50%;
     height: 70vh;
     border-radius: 20px;
     padding: 50px;
     display: block;
}

#imgPasarela{
    width: 100%;
    height: 70vh;
}






.guardar{
    margin: 20px 0;
    cursor: pointer;
    padding: 15px 20px;
}