@media screen and (max-width: 1440px) {
    .content-grid {
        width: 100%;

    }

    .item1>img {
        margin-top: 50px;
        width: 500px;
        display: flex;
        justify-content: center;
    }


    .gridFotterItem:nth-child(1),
    .gridFotterItem:nth-child(4) {
        white-space: nowrap;
        word-wrap: break-word;
    }

    .gridFotterItem:nth-child(2) {
        margin: auto;
        justify-content: center;
        padding: 0 20px;
    }


    .content-grip-description-row > div{
        height: 28vh;
    }


    .contenedor_news{
        
        display: block;
        justify-content: center;       

    }

    .contenedor_news> span{
        font-size: 30px;
        margin: 20px 0;
        padding: 20px 0;
        font-weight: 600;
    }
    .grid-news{
        margin-left: 150px;
    }
}
